.primaryBtn {
  border-radius: 8px;
  background: linear-gradient(145deg, #ff8107, #d76d06);
  box-shadow: 2px 2px 8px #080824,
    -1px -1px 8px #4c5181;
  transition: box-shadow .17s ease-in;
}

.primaryBtn:hover {
  box-shadow: 0px 0px 0px #080824,
    0px 0px 0px #4c5181, inset 3px 3px 8px #5c2f03,
    inset -3px -3px 8px #ff9412;
}

.secondaryBtn {
  background: #ffb74d;
  box-shadow: 1px 1px 5px #080824,
    -1px -1px 5px #4c5181;
  transition: box-shadow .17s;
}

.secondaryBtn:hover {
  box-shadow: 0px 0px 0px #080824,
    0px 0px 0px #4c5181, inset 5px 5px 10px #9c702f,
    inset -5px -5px 10px #fffe6b;
}

.barsSvg {
  stroke: #f0f0f0;
  stroke-width: 1.5;
  cursor: pointer;
  width: 32px;
  height: 32px;
  justify-self: start;
}