body {
  /* background-image: linear-gradient(to right, #060150, #1b166b, #060150); */
  /* background-image: linear-gradient(to right, #10103A, #0f0470, #10103A); */
  background: #10103A;
  color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding-top: 64px;
  padding-bottom: 32px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5% 10% 5% 10%;
  border-top: 2px solid #7207ff;
  background-color: #8112ff88;
  color: #eee;
  font-weight: 500;
}

.searchbar {
  text-align: start;
  font-weight: 500;
  padding: 8px 0 8px 20px;
  padding-inline-start: 12px;
  border-end-start-radius: 8px;
  border-start-start-radius: 8px;
  background: #4c00ff;
  color: #eee;
}

.searchbar::placeholder {
  color: #eee;
}

.secondaryBrown {
  background: #ffb74d;
}

.tertiaryBrown {
  background: #ffcf71;
}

.tertiaryBrown {
  background: #b8b484;
}

.toolSections {
  padding-top: 40px;
  display: grid;
  justify-items: center;
}

.toolSections {
  @media (max-width: 640px) {
    width: 90%;
    grid-template-columns: repeat(auto-fill,
        minmax(120px, 1fr));
    gap: 6vh;
  }
}

.toolSections {
  @media (min-width: 640px) {
    width: 70%;
    grid-template-columns: repeat(auto-fill,
        minmax(150px, 1fr));
    gap: 7vh;
  }
}


.toolSections {
  @media (min-width: 1024px) {
    width: 60%;
    grid-template-columns: repeat(auto-fill,
        minmax(185px, 1fr));
  }
}

.toolSections {
  @media (min-width: 1440px) {
    width: 50%;
  }
}

.toolSections>li {
  height: fit-content;
  width: fit-content;
}